body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
    position: absolute;
    left: 100px;
    top: 20px;
}

h2 {
    font-size: 50px;
    position: fixed;
    left: 100px;
    top: 200px;
    text-decoration: underline orange;
}
nav{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    position: relative;
    left: 600px;
    top: 40px;
}
nav a{
    width:10vw;
    text-align: right;
    text-decoration: none;
    font-size: 20px;        
    font-weight: bold;
    color: gray;
}

img {
    border-radius: 50%;
    position: fixed;
    right: 330px;
    top: 100px; 
    width: 500px;
    height: 500px;
    

}

#about {
    float: right;
    position: fixed;
    left: 100px;
    top: 350px;
    font-size: 20px;
    animation: aboutmove 5s;
}

@keyframes aboutmove{
    0% { 
        opacity: 0%;
        top: 1000px;
    }
    100% {
        opacity: 100%;
        top: 350px;
    }
}

#circle1 {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: orange;
    position: fixed;
    top: -300px;
    left: -150px;
  }

#circle2 {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: orange;
    position: fixed;
    top: 200px;
    right: 200px;
  }
#circle3 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: lightsalmon;
    position: fixed;
    top: 300px;
    right: 500px;
}
#circle4 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: darkorange;
    position: fixed;
    top: 100px;
    right: 500px;
}