body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    font-family: fantasy; 
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: white;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:plum;
}

/*animated width and height*/
img{
    padding-top: 1%;
    width:30vw;
    height: 30vh;
    transition-property: width, height;
    transition-duration: 3s;
}

img:hover {
    width: 80vw;
    height: 80vh;
}

#red-ball{
    background-color: violet;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation: ballmove 5s;
    animation-iteration-count: infinite;
}

@keyframes ballmove{
    0% { 
        left: 5%;
    }
    50% {
        left: 95%;
    }
    100% {
        left: 5%;
    }
}