.background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sky {
    background-image: url("../js-final/Background.png");
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: -2;
}

.ground {
    background-color: green;
    width: 100%;
    height: 20%;
    top: 80%;
    position: absolute;
    z-index: 0;
}

.ralphie {
    background-image: url("../js-final/ralphie.png");
    position: absolute;
    width: 60px;
    height: 60px;
}

.pipe {
    background-image: url("../js-final/goldPipe.png");
    width: 100px;
    height: 400px;
    position: absolute;
    z-index: -1;
}

.topPipe {
    background-image: url("../js-final/goldPipe.png");
    width: 100px;
    height: 400px;
    position: absolute;
    transform: rotate(180deg);
    z-index: -1;
}

